* {
  /*Couleurs*/
  --prm: #ffd15b;
  --wht: #ffffff;
  --gry: #ededed;
  --drk-gry: #7a7a7a;
  --blk: #1b1b1b;
}

body {
  /*Dimensions*/
  margin: 0;

  /*Flex*/
  display: flex;
  justify-content: center;

  /*Style*/
  background-color: var(--gry);

  /*Texte*/
  font-family: "Manrope";
}

ul {
  /*Style*/
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1 {
  /*Dimensions*/
  margin: 0px;
  padding: 0px;

  /*Texte*/
  font-family: "Anton";
  font-weight: 400;
  font-size: 18px;
}

h2 {
  /*Dimensions*/
  margin: 0px;
  padding: 0px;

  /*Texte*/
  font-weight: 700;
  font-size: 12px;
  color: var(--drk-gry);
}

p {
  /*Dimensions*/
  margin: 0px;
  padding: 0px;

  /*Texte*/
  font-weight: 400;
  font-size: 14px;
}

#main_ctn {
  /*Dimensions*/
  max-width: 1440px;
  min-width: 375px;
  width: 100%;
}

.loupe_ctn {
  /*Position*/
  position: relative;
}

.loupe_ctn .loupe_circle {
  /*Position*/
  position: absolute;

  /*Dimensions*/
  width: 70%;
  height: 70%;

  /*Style*/
  border: solid 1px;
  border-radius: 50%;
}

.loupe_ctn .loupe_line {
  /*Position*/
  position: absolute;
  right: 0px;
  bottom: 0px;
  transform: rotate(-45deg);
  transform-origin: bottom right;

  /*Dimensions*/
  width: 41%;
  height: 41%;

  /*Style*/
  border-right: solid 1px;
}

main {
  /*Position*/
  padding: 0px 100px;
}

footer {
  /*Dimensions*/
  height: 100px;
}

@media (max-width: 1100px) {
  main {
    /*Dimensions*/
    padding: 0px 50px;
  }
}

@media (max-width: 800px) {
  main {
    /*Dimensions*/
    padding: 0px;
  }
}
